@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500');

@font-face {
  font-family: 'RoleyPoley';
  src: url("assets/fonts/RoleyPoley.eot");
  src: url("assets/fonts/RoleyPoley.eot?#iefix") format("embedded-opentype"),
      url("assets/fonts/RoleyPoley.woff") format("woff"),
      url("assets/fonts/RoleyPoley.ttf") format("truetype"),
      url("assets/fonts/RoleyPoley.svg#RoleyPoley") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 16px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h1 {
  margin: 0;
  font-family: 'RoleyPoley', Verdana, Arial, sans-serif;
  font-weight: 300;
  font-size: 4em;
  font-size: 3.75em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:active {
  color: red;
}

.constraint {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4.75em;
  }
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 5.625em;
  }
}

@media only screen and (min-width: 1200px) {
  
}

