.sea-animals {
  background: url(../assets/images/bg-water-bubbles.jpeg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  font-size: 1.125em
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.animal-wrapper {
  -ms-flex-preferred-size: 78%;
  flex-basis: 78%;
}
