.jump-to-menu{
    position: sticky;
    border: 3px solid #e5640f;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 15%;
    background-color: #f1f1f1;
    color: #231f20;
    margin-bottom: 4px;
    padding: 8px 4px 8px 4px;
    top: 24px;
    border-radius: 2em;
}

li{
    cursor: pointer;
    padding: 1em;
}

li:hover{
   font-size: 110%;
}

li:active{
    border: 3px solid #e5640f;
    border-radius: 1em; 
}