.top-nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #top-nav-bar-item {
    float: left;
  }
  
  #top-nav-bar-item a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #top-nav-bar-item a:hover {
      color: #e5640f;
  }

  #top-nav-bar-item a.active{
    color: #e5640f;
    border-bottom: 5px solid #e5640f; 
    margin-bottom: 2em;
  }